@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #c7ebdf;
}

.swiper-button-next:after,
.swiper-button-prev:after{
 color: red;

}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill .swiper-pagination-clickable-fill{
  background: red;
};

.swiper-pagination-clickable {
  background: red;
}

.swiper-pagination-bullet-active {
  background: red;
}

html::-webkit-scrollbar { width: 0 !important };
html { overflow: -moz-scrollbars-none; }
html { -ms-overflow-style: none; }